.hs-container {
    height: 270px;
    background-color: #121212;
}

.hs-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.logo {
    height: 212px;
    width: 212px;
}

.headline h1 {
    margin: 0px;
    color: #ffffff;
    text-align: center;
}