.swiper-button-next::after{
    content: "" !important;
}

.swiper-button-next {
    right: 0px !important;
    background-image: url('next.svg');
    background-position: center;
    background-size: cover;
    height: 32px !important;
    width: 32px !important;
}

.swiper-button-prev::after{
    content: "" !important;
}

.swiper-button-prev {
    left: 0px !important;
    background-image: url('previous.svg');
    background-position: center;
    background-size: cover;
    height: 32px !important;
    width: 32px !important;
}