.feedback {
    width: 170px;
    height: 48px;
    background-color: #121212;
    color: #34c94b;
    padding: 10px 16px;
    border-radius: 12px;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}